{
  "parser": "babel-eslint",
  "extends": [
    "airbnb"
  ],
  "plugins": [
    "babel",
    "react",
    "promise"
  ],
  "env": {
    "browser" : true
  },
  "globals": {
    "__DEV__"      : false,
    "__TEST__"     : false,
    "__PROD__"     : false,
    "__COVERAGE__" : false
  },
  "rules": {
      "indent": 0,
      "no-tabs": 0,
      "linebreak-style": 0,
      "react/jsx-indent": 0,
      "react/jsx-filename-extension": 0,
      "import/no-extraneous-dependencies": 0,
      "jsx-quotes": 0,
      "class-methods-use-this": 0,
      "react/jsx-indent-props": 0,
      "jsx-a11y/label-has-for": 0,
      "react/forbid-prop-types": 0,
      "no-nested-ternary": 0,
      "jsx-a11y/anchor-has-content": 0,
      "consistent-return": 0,
      "global-require": 0,
      "no-underscore-dangle": 0,
      "semi": 0,
      "jsx-a11y/anchor-is-valid": 0,
      "max-len": 0
  }
}
