@mixin animate($data) {
    -webkit-transition: $data;
    transition: $data;
}

.page-layout__viewport {
    padding-top: 4rem;
}

.page-layout__nav-item--active {
    font-weight: bold;
    text-decoration: underline;
}

.page-layout__menu {
    position: relative;
    z-index: 1;
    background-color: #2A3F54;
    float: left;
    color: #ECF0F1;
}

.animate {
    @include animate(all ease 0.2s);
}

.left-menu {
    width: 270px;
    height: 100vh;
    .left-menu__tag {
        height: 60px;
        font-size: 1.3em;
        line-height: 60px;
    }
    .left-menu__profile {
        height: 100px;
        padding: 10px;
        .profile__image {
            width: 80px;
            height: 100%;
            border-radius: 50%;
            border: 5px solid #fff;
            overflow: hidden;
            float: left;
            img {
                width: 100%;
            }
        }
        p {
            margin: 0;
            &.profile__word {
                line-height: 40px;
                color: #aaaaaa;
            }
            &.profile__name {

            }
        }
    }
    .left-menu__center {
        height: calc(100vh - 210px);
        padding-top: 10px;
        .category {
            height: 50px;
            overflow: hidden;
            &.category--active {
                border-right: 5px solid #1ABB9C;
            }
            .category__main {
                outline: 0;
                display: inline-block;
                width: 100%;
                &:hover {
                    cursor: pointer;
                    background-color: rgba(255, 255, 255, .16);
                }
                &.category__main--active {
                    text-shadow: rgba(0, 0, 0, .25) 0 -1px 0;
                    background: linear-gradient(#334556, #2C4257), #2A3F54;
                    box-shadow: rgba(0, 0, 0, .25) 0 1px 0, inset rgba(255, 255, 255, .16) 0 1px 0;
                }
                * {
                    display: block;
                    float: left;
                    line-height: 50px;
                }
                span {
                    width: 60%;
                    text-align: left;
                }
                i {
                    text-align: center;
                    width: 20%;
                    font-size: 1.3em;
                }
            }
            .category__sub {
                display: inline-block;
                position: relative;
                top: -3px;
                width: 100%;
                ul {
                    padding-left: 0;
                    margin-bottom: 0;
                    list-style: none;
                    li {
                        height: 40px;
                        padding-left: 36px;
                        position: relative;
                        &:hover {
                            background-color: rgba(255, 255, 255, .06);
                        }
                        &:before {
                            background: #425668;
                            bottom: auto;
                            content: "";
                            height: 8px;
                            left: 23px;
                            margin-top: 15px;
                            position: absolute;
                            right: auto;
                            width: 8px;
                            z-index: 1;
                            border-radius: 50%;
                            box-sizing: border-box;
                        }
                        &:after {
                            border-left: 1px solid #425668;
                            bottom: 0;
                            content: "";
                            left: 27px;
                            position: absolute;
                            top: 0;
                            box-sizing: border-box;
                        }
                        a {
                            color: rgba(255, 255, 255, .75);
                            font-size: 14px;
                            padding: 9px;
                            text-decoration: none;
                            display: block;
                            text-align: left;
                            &.category__sub--active {
                                color: white;
                            }
                        }
                    }
                }
            }
        }
        .loader {
            margin-top: 60%;
            width: 30%;
        }
    }
    .left-menu__bottom {
        height: 50px;
        a {
            width: 25%;
            height: 100%;
            display: block;
            float: left;
            line-height: 50px;
            background-color: #18222d;
            color: lightslategray;
            &:hover {
                background-color: #2A3F54;
                color: white;
                cursor: pointer;
            }
        }
    }
    &.small {
        width: 70px;
        .left-menu__tag {
            i {
                font-size: 30px;
                line-height: 70px;
            }
            span {
                display: none;
            }
        }
        .left-menu__profile, .left-menu__bottom {
            display: none;
        }
        .left-menu__center {
            .category {
                height: 70px !important;
                position: relative;
                overflow: visible;
                .category__main {
                    padding-bottom: 10px;
                    i {
                        &:first-child {
                            width: 100%;
                        }
                        &:last-child {
                            display: none;
                        }
                    }
                    span {
                        width: 100%;
                        text-align: center;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        line-height: 10px;
                        padding: 0 5px;
                    }
                }
                .category__sub {
                    height: 0;
                    overflow: hidden;
                    position: absolute;
                    background: #2a3f54;
                    width: 200px;
                    top: 0;
                }
            }
        }
    }
}

.header {
    height: 60px;
    background: #ededed;
    border-bottom: 1px solid #d9dee4;
    position: fixed;
    width: calc(100% - 270px);
    right: 0;
    top: 0;
    color: #2A3F54;
    & > button {
        outline: 0;
        border: none;
        background: transparent;
        font-size: 1.8em;
        line-height: 58px;
        float: left;
        width: 60px;
        color: #2A3F54;
        &:hover {
            background-color: #2A3F54;
            color: white;
            cursor: pointer;
        }
    }
    .notification, .profile {
        float: right;
    }
    .profile {
        position: relative;
        .profile__button {
            outline: 0;
            padding: 0 10px;
            &:hover, &.profile__button--active {
                background-color: #aaaaaa;
                color: white;
            }
            .profile__image {
                height: 50px;
                width: 50px;
                border-radius: 50%;
                overflow: hidden;
                float: left;
                margin-top: 5px;
                img {
                    width: 100%;
                }
            }
            span {
                line-height: 60px;
                padding: 10px;
            }
            i {
                font-size: 14px;
            }
        }
        .profile__content {
            width: 250px;
            height: 0;
            right: 0;
            overflow: hidden;
            border: 1px solid #d9dee4;
            background-color: white;
            border-radius: 0 0 5px 5px;
            border-top: none;
            position: absolute;
            opacity: 0;
            &.profile__content--active {
                height: 148px;
                opacity: 1;
            }
            ul {
                list-style: none;
                display: block;
                padding: 0;
                li {
                    &:hover {
                        background-color: lightgrey;
                        * {
                            color: white;
                        }
                    }
                    a {
                        display: block;
                        width: 100%;
                        padding: 0 10px;
                        line-height: calc(75px / 2);
                        text-align: left;
                        text-decoration: none;
                        .badge {
                            display: inline-block;
                            min-width: 10px;
                            padding: 3px 7px;
                            font-size: 12px;
                            font-weight: 700;
                            line-height: 1;
                            color: #fff;
                            text-align: center;
                            white-space: nowrap;
                            vertical-align: middle;
                            background-color: firebrick;
                            border-radius: 10px;
                            margin-left: 20px;
                        }
                        i {
                            float: right;
                            line-height: calc(75px / 2);
                        }
                    }
                }
            }

        }
    }
    .notification {
        width: 70px;
        position: relative;
        .notification__button {
            position: relative;
            outline: 0;
            &:hover, &.notification__button--active {
                background-color: #aaaaaa;
                color: white;
            }
            i {
                line-height: 60px;
                font-size: 25px;
            }
            div {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                font-size: 13px;
                text-align: center;
                line-height: 18px;
                background: #1ABB9C;
                border: 1px solid #1ABB9C;
                color: #fff;
                position: absolute;
                right: 15px;
                top: 10px;
            }
        }
        .notification__content {
            width: 300px;
            height: 0;
            right: 0;
            overflow: hidden;
            border: 1px solid #d9dee4;
            background-color: white;
            border-radius: 0 0 5px 5px;
            border-top: none;
            position: absolute;
            opacity: 0;
            &.notification__content--active {
                height: 298px;
                opacity: 1;
            }
        }
    }
}

.page-layout__viewport {
    position: relative;
    width: 100%;
}
