@mixin animate($data) {
  -webkit-transition: $data;
  transition: $data;
}

.page-layout__viewport {
  padding-top: 4rem;
}

.page-layout__nav-item--active {
  font-weight: bold;
  text-decoration: underline;
}

.page-layout__menu {
  position: relative;
  width: 300px;
  z-index: 1;
  background-color: #2A3F54;
  float: left;
  color: #ECF0F1;
}

.left-menu {
  height: 100vh;
  .left-menu__tag {
    height: 60px;
    font-size: 1.3em;
    line-height: 60px;
  }
  .left-menu__profile {
    height: 100px;
    padding: 10px;
    .profile__image {
      width: 80px;
      height: 100%;
      border-radius: 50%;
      border: 5px solid #fff;
      overflow: hidden;
      float: left;
      img {
        width: 100%;
      }
    }
    p {
      margin: 0;
      &.profile__word {
        line-height: 40px;
        color: #aaaaaa;
      }
      &.profile__name {

      }
    }
  }
  .left-menu__center {
    height: calc(100vh - 210px);
    padding-top: 10px;
    .category {
      height: 50px;
      overflow: hidden;
      @include animate(all ease 0.3s);
      &.category--active {
        border-right: 5px solid #1ABB9C;
      }
      .category__main {
        display: inline-block;
        width: 100%;
        @include animate(all ease 0.3s);
        &:hover {
          cursor: pointer;
          background-color: rgba(255, 255, 255, .16);
        }
        &.category__main--active {
          text-shadow: rgba(0, 0, 0, .25) 0 -1px 0;
          background: linear-gradient(#334556, #2C4257), #2A3F54;
          box-shadow: rgba(0, 0, 0, .25) 0 1px 0, inset rgba(255, 255, 255, .16) 0 1px 0;
        }
        * {
          display: block;
          float: left;
          line-height: 50px;
        }
        span {
          width: 60%;
          text-align: left;
        }
        i {
          text-align: center;
          width: 20%;
          font-size: 1.3em;
        }
      }
      .category__sub {
        display: inline-block;
        position: relative;
        top: -3px;
        width: 100%;
        ul {
          padding-left: 0;
          margin-bottom: 0;
          list-style: none;
          li {
            height: 40px;
            padding-left: 36px;
            position: relative;
            &:hover {
              background-color: rgba(255,255,255,.06);
            }
            &:before {
              background: #425668;
              bottom: auto;
              content: "";
              height: 8px;
              left: 23px;
              margin-top: 15px;
              position: absolute;
              right: auto;
              width: 8px;
              z-index: 1;
              border-radius: 50%;
              box-sizing: border-box;
            }
            &:after {
              border-left: 1px solid #425668;
              bottom: 0;
              content: "";
              left: 27px;
              position: absolute;
              top: 0;
              box-sizing: border-box;
            }
            a {
              color: rgba(255,255,255,.75);
              font-size: 14px;
              padding: 9px;
              text-decoration: none;
              display: block;
              text-align: left;
              &.category__sub--active {
                color: white;
              }
            }
          }
        }
      }
    }
    .loader {
      margin-top: 60%;
      width: 30%;
    }
  }
  .left-menu__bottom {
    height: 50px;
    a {
      width: calc(300px / 4);
      height: 100%;
      display: block;
      float: left;
      line-height: 50px;
      background-color: #18222d;
      color: lightslategray;
      &:hover {
        background-color: #2A3F54;
        color: white;
        cursor: pointer;
      }
    }
  }
}

.page-layout__viewport {
  position: relative;
  width: 100%;
}
